#define BASE 0
#define MOUSE 1
#define MOUSETOP 2
#define SCROLL 3
#define SNIPE 4
#define SNIPETOP 5
#define SCROLLTOP 6
#define FAST 7
#define LOWER  8
#define RAISE  9
#define DIRECTACC 10
#define FUNC 11
#define ADJ  12
#define NUMBERS 13
#define WARP 14
#define SYSTEM 15
