#define BASE 0
#define SCROLL 1
#define SNIPE 2
#define SNIPETOP 3
#define MOUSETOP 4
#define SCROLLTOP 5
#define FAST 6
#define LOWER 7
#define RAISE 8
#define DIRECTACC 9
#define FUNC 10
#define ADJ  11
#define NUMBERS 12
#define WARP 13
#define SYSTEM 14